<!doctype html>
<html>
  <head>
      <title>FarmSTND</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <link rel="stylesheet" href="style.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
      <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Concert+One|Fredoka+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Armata|Concert+One|Fredoka+One" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Krub|Oswald" rel="stylesheet">
  </head>
  <body>
    <section class="backImageHolder">
      <header>
        <section class="topPiece">
          <span> <img src="imgs/grow.png" alt=""> </span>
          <!-- <span>Fresher Produce. One Click at a TIME.</span> -->
        </section>
        <section class="secondPiece">

          <h1>FarmSTND</h1>
          <ul>
            <li><a href="/signup" class="btn btn-default"></span>Signup</a></li>
            <li><a href="/login" class="btn btn-default"></span>Login</a></li>
          </ul>
        </section>
      </header>
      <section class="mottoHolder">
        <section>Fresher Produce.</section>
        <section>One Click at a TIME.</section>
        <section class="buttonHolder">
            <button type="button" name="button">Get Started</button>
        </section>
        <section class="bottomFloater">
          <p>At FarmSTND we believe....</p>
        </section>
        <section class="bottomFloaters">
          <p>In a WORLD where...</p>
          <span>This is a test</span>
        </section>
        <section class="bottomFloaters">
          <p>At FarmSTND we believe....</p>

        </section>
      </section>
    </section>
    <section class="borderBottom">
      <section class="bottomFloaterCont">
        <p>In providing fresher produce </p>
        <span>This is a test</span>
      </section>
      <section class="bottomFloatersCont">
        <p>Time is of the essence, why waste it looking for produce in the market? FarmSTND allows you to streamline this process by selecting, purchasing, and having your produce waiting on you when you arrive at the market.</p>
        <span>This is a test</span>
      </section>
      <section class="bottomFloatersCont">
        <p>This is a test</p>
        <span>This is a test</span>
      </section>
    </section>



  </body>
</html>
