<!doctype html>
<html>
  <head>
    <title>FarmSTND</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="farmer.css">
    <link href="https://fonts.googleapis.com/css?family=Armata|Concert+One|Fredoka+One" rel="stylesheet">

  </head>
  <body>
    <span>Thank you for your purchase!</span>
    <span>Address: </span>
    <span>From: <%= farmerEmail %></span>
  </body>
</html>
