<!doctype html>
<html>
<head>
    <title>21 Savage Fan Site</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container">
<div class="col-sm-6 col-sm-offset-3">

    



    <% if (user.local.email) { %>
    <form action="/person" method="post">
      <input type="text" placeholder="First Name" name="first" >
      <input type="text" placeholder="Last Name" name="last" >
      <input type="text" name="email" value="<%= user.local.email %>">
      <select class="choice" name="usertype">
        <option value="buyer">Buyer</option>
        <option value="farmer">Farmer</option>
      </select>
      <button type="submit">Submit</button>
    </form>
    <% } %>

    <hr>

    <p>Alreday have an account? <a href="/login">Log in</a></p>
    <p>Or go <a href="/">home</a>.</p>


</div>
</div>
</body>
</html>
