body{
  background-color: antiquewhite
}
header{
  width: 100%;
  height: 83px;
  /* border: 2px solid green; */
  text-align: center;
}
.topPiece{
  /* border: 2px solid black; */
  width: 100%;
  height: 26px;
  background: palegoldenrod;
}
.topPiece img{
float: left;
width: 44px;
height: 29px;
margin-top: -10px;
}
.topPiece span:first-of-type{
  float: left;
  color: white;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 6px;
  font-family: 'Armata', sans-serif;
}
.topPiece span:nth-of-type(2){
  color: white;
  font-family: 'Concert One', cursive;
  margin-right: 16%;
  font-size: 19px;
}
.secondPiece{
  width: 100%;
  height: 78px;
  /* background-color: olivedrab; */
  background-image: url(imgs/vegetable3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: .6;
}
h1{
  font-family: 'Fredoka One', cursive;
  font-size: 69px;
  width: 57%;
  float: left;
  margin-left: 15%;
  height: 55px;
  font-weight: bolder;
  margin-top: 4px
 /* border: 2px solid black; */;
}
  /* border: 2px solid black; */
}
a{
  float: left;
  margin-top: 13px;
  margin-bottom: 10px
}
h2{
  font-family: 'Poppins', sans-serif;
  margin-left: 28%;
  margin-top: 33px;
}
h3{
  font-family: 'Poppins', sans-serif;
}
.pickOpt{
  border: 2px solid black;
  width: 77%;
  margin-left: 10%;
  height: 98px;
  background-color: white;
  box-shadow: -7px 3px 17px 0 #171616;
  border-radius: 19px;
}
.leftSide{
  border: 2px solid black;
  width: 36%;
  margin-left: 5%;
  float: left;
  margin-top: 20px;
  background-color: white;
  box-shadow: -7px 3px 17px 0 #171616;
  border-radius: 19px;
}
.rightSide{
  border: 2px solid black;
  width: 47%;
  margin-left: 5%;
  float: left;
  margin-top: 20px;
  background-color: white;
  height: 323px;
  box-shadow: -7px 3px 17px 0 #171616;
  border-radius: 19px;
}
.bidsList{
  width: 114%;
  margin-left: 8%
}
.bidsList p{
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid goldenrod;
  width: 349px;
  margin-top: 30px;
}
.itemsList{
  margin-left: 11%;
  width: 99%;
}
.itemsList p{
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid goldenrod;
  width: 238px;
  margin-top: 30px;
}
.holdList p{
  margin-left: 4%;
  font-family: 'Montserrat', sans-serif;
  border-bottom: 2px solid goldenrod;
  width: 186px;
  margin-top: 8px
}
.pickOpt label{
  margin-left: 27px;
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
}
table{
  font-family: 'Montserrat', sans-serif;
}

/* .holdList{
  display: flex;
  justify-content: center;
}
.holdBoth{
  display: flex;
  justify-content: space-around;
}
.holdBoth section{
  width: 40%;
  background-color: #eee8aa5c;
  box-shadow: 0 0 0 #eee8aa5c;
  justify-content: center;
  display: flex;
} */
