body{
  /* padding-top:80px; */
  word-wrap:break-word;
  background-color: palegoldenrod

}
.backImageHolder{
  background-image: url(imgs/africanHD.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 456px;
  background-position: 0px -322px;
}
img{
  height: 200px;
}
.farmerHeader{
  height: 100px;
  width: 100%;
  border: 2px solid black;
}
*{
  box-sizing: border-box;
}
header{
  width: 100%;
  height: 83px;
  /* border: 2px solid green; */
  text-align: center;
}
.topPiece{
  /* border: 2px solid black; */
  width: 100%;
  height: 26px;
  background: palegoldenrod;
}
.topPiece img{
float: left;
width: 44px;
height: 29px;
margin-top: -10px;
}
.topPiece span:first-of-type{
  float: left;
  color: white;
  font-size: 12px;
  margin-top: 8px;
  margin-left: 6px;
  font-family: 'Armata', sans-serif;
}
.topPiece span:nth-of-type(2){
  color: white;
  font-family: 'Concert One', cursive;
  margin-right: 16%;
  font-size: 19px;
}
.secondPiece{
  width: 100%;
  height: 56px;
}
h1{
  font-family: 'Fredoka One', cursive;
  font-size: 69px;
  color: white;
  margin: 0;
  width: 57%;
  float: left;
  margin-top: -2px;
  margin-left: 15%;
  height: 55px;
  opacity: .8
  /* border: 2px solid black; */
}
.btn{
  margin-left: 0%;
  background-color: palegoldenrod;
  color: black;
  font-family: 'Concert One', cursive;
  height: 32px;
  width: -1%;
  border-radius: 6px
}
ul{
  float: left;
  margin-top: 13px;
  margin-bottom: 10px;
  width: 23%;
  padding: 0 0 0 0;
}
li{
  display: inline-block;
  font-family: 'Armata', sans-serif;
  margin-left: 29px;
}
i{
  margin-left: 13px;
  margin-top: 12px;
}
.mottoHolder{
  width: 100%;
  height: 300px;
  /* border: 2px solid black; */
}
.mottoHolder section:first-of-type{
  width: 84%;
  height: 73px;
  float: left;
  color: white;
  font-family: 'Concert One', cursive;
  margin-right: 16%;
  font-size: 45px;
  margin-top: 52px;
  margin-left: 12%;
}
.mottoHolder section:nth-of-type(2){
  width: 84%;
  height: 73px;
  float: left;
  color: white;
  font-family: 'Concert One', cursive;
  margin-right: 16%;
  font-size: 45px;
  margin-left: 12%;
}
.mottoHolder button{
  margin-left: 18%;
  background-color: palegoldenrod;
  color: black;
  font-family: 'Concert One', cursive;
  height: 32px;
  width: 13%;
  float: left;
  border-radius: 6px

}
.buttonHolder{
  width: 100%;
  height: 32px;

  float: left;
}
.bottomFloater{
  width: 23%;
  height: 41px;
  /* border: 2px solid black; */
  background-color: white;
  /* color: white; */
  float: left;
  margin-left: 10%;
  margin-top: 106px;
  border-right:4px solid black;
  font-size: 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}
.bottomFloaters{
  width: 23%;
  height: 41px;
  margin-left: 5%;
  /* border: 2px solid black; */
  background-color: white;
  /* color: white; */
  float: left;
  margin-top: 106px;
  border-right:4px solid black;
  font-size: 25px;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-weight: bolder;
}
.bottomFloaterCont{
  width: 23%;
  height: 180px;
  /* border: 2px solid black; */
  background-color: lightgrey;
  /* color: white; */
  float: left;
  margin-left: 10%;
  border-right:4px solid black;
  border-bottom:4px solid black;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 17px;
  padding: 17px;
}
.bottomFloatersCont{
  width: 23%;
  height: 180px;
  margin-left: 5%;
  /* border: 2px solid black; */
  background-color: lightgrey;
  /* color: white; */
  float: left;
  border-right:4px solid black;
  border-bottom:4px solid black;
  text-align: center;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  padding: 17px;
}
